.bg-image {
  background-image: url("img/jeuxcarte.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

aside {
  height: 100vh;
}

.tableDeJeux {
  width: 48em;
}

.carte {
  background-color: black;
  height: 160px;
  width: 110px;
  margin-top: 1em;
  border-radius: 0.5em;
}
